__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
env/
venv/
*.egg-info/
dist/
build/
.idea/
.vscode/
*.db
*.sqlite3
.git/
.gitignore
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
Dockerfile
.dockerignore
docker-compose.yml
README.md
